*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.container{
	padding: 2em 4em;
}
#translate div, #rotate div, #scale div, #skewX div, #skewY div{
	width: 200px;
	height: 200px;
	display: inline-block;
	margin-bottom: 1em;
	text-align: center;
	padding-top: 70px;
	margin-right: 40px;
	font-size: 150%;
	font-family: Helvetica, Arial, sans-serif;
	transition: all .5s;
}
.translate div{
	background-color: blue;
	color: white;
}
.rotate div{
	background-color: orange;
}
.scale div{
	background-color: red;
}
.skewX div, .skewY div{
	background-color: green;
	color: white;
}
.skewX{
	transform: skewX(10deg);
}
.skewY{
	transform: skewY(10deg);
}
.translate{
	transform: translateX(20px);
}
.rotate{
	transform: rotate(30deg);
}
.scale{
	transform: scale(1.2, 1.2);
}