.animation {
  position: relative;
  min-height: 300px;
}
.animation div {
  width: 200px;
  height: 200px;
  position: absolute;
  animation-name: animation;
  animation-duration: 2s;
  animation-delay: 1s;
  background-color: blue;
}
.infinite div {
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.finite div {
  animation-direction: normal;
}

.sticky div {
  animation-fill-mode: forwards;
}

@keyframes animation {
  from {
    left: 0;
    border-radius: 0;
  }
  to {
    left: calc(100% - 200px);
    border-radius: 50%;
    background-color: green;
  }
}
