*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
    font-family: Helvetica, Arial, sans-serif;
}

main {
    position: relative;
    padding: 2em 4em;
    height: calc(100vh - 100px);
}

.container{
	font-size: 150%;
    display: flex;
    justify-content: space-around;
}

.options {
    width: 50%;
}

.activate{
	background-color: lightblue;
	padding: 5px;
	border-radius: 3px;
	font-size: 50%;
	border: none;
}
.activate:hover,
.activate:focus{
	background-color: green;
	color: white;
}